*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: #212529;
    height: 48px;
    
}
header a{
    color: #999999;
    font-size: 16px;
    text-decoration: none;
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
header li{
    list-style: none;
}
.logo, nav{
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}
.banner{
    background-color: #f8f9fa;
    margin: 16px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 508px;
    overflow: hidden;
    position: relative;
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-banner{
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
    position: absolute;
    right: 10%;
    bottom: -30%;
}
.product-banner::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}
.product-banner-white{
    width: 300px;
    height: 540px;
    background-color: #e5e5e5;
    border-radius: 21px;
    transform: rotate(30deg);
    position: absolute;
    left: 5%;
    bottom: 30%;
}
.product-banner-white::before{
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: #e8e8e8;
    border-radius: 5px;
}
h1{
    font-size: 56px;
    margin-bottom: 8px;
    padding-top: 100px;
    font-weight: 400;
}
.banner p{
    font-size: 20px;
    line-height: 1.5;
    width: 460px;
    text-align: center;
    margin-bottom: 16px;
}
.banner button{
    height: 38px;
    background-color: transparent;
    border: 1px solid #6c757d;
    color: #6c757d;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 16px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 16px 0px;
    padding-left: 16px;
}
.card-left{
    background-color: #343a40;
    color: white;
    margin-right: 16px;
    padding: 48px 48px 0px 48px;
}
.white-box{
    width: 80%;
    height: 300px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    background-color: white;
    display: flex;
    margin: 0 auto;
}
h3{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 8px;
}
.p-card{
    font-size: 20px;
    margin-bottom: 16px;
}
.card-text{
    padding: 16px 0px;
    margin: 16px 0px;
    text-align: center;
}
.card-right{
    background-color: #f8f9fa;
    color: white;
    margin-right: 16px;
    padding: 48px 48px 0px 48px;
}
.gray-box{
    width: 80%;
    height: 300px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    background-color:#343a40;
    display: flex;
    margin: 0 auto;
}
.h3-gray{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #212529;
}
.p-card-gray{
    font-size: 20px;
    margin-bottom: 16px;
    color: #212529;
}
.card-blue{
    background-color: #007bff;
    color: white;
    margin-right: 16px;
    padding: 48px 48px 0px 48px;
}
footer{
    width: 960px;
    display: flex;
    justify-content: space-between;
    padding: 48px 15px;
    margin: 0 auto;
}
footer li{
    list-style: none;
    line-height: 1.5;
}
footer a{
    color: #6c757d;
    text-decoration: none;
}
footer h4{
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 500px !important;
}
